body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #FFC600, #E90064);
  text-align: center;
  font-family: cursive;
  font-size:  1.5rem;
  }

h1{
  color:
}
.container{
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 0px 43px 17px;
  background: linear-gradient(to right, #FFC600, #E90064);
}


#display{
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size:25px;
}

.buttons {
    display: grid;
    /* border-bottom: 1px solid #999; */
    /* border-left: 1px solid#999; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

  .buttons > div {
    /* border-top: 1px solid #999;
    border-right: 1px solid#999; */
}

 .button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal{

  background-color: #EF2F88;
}
.button{
transition-duration: 0.3s;
}

.button:hover{
  background-color: #FFE400;

}
